@charset "UTF-8";
body, header, main, footer, section, nav, aside, article, address, div, p, ul, li, ol, h1, h2,h3, h4, h5, h6, form, fieldset, legend, table, tbody, th, td, dl, dt, dd, input, button, select, option, textarea, figure, figcaption, caption, blockquote{ margin: 0; padding: 0;}
ol, ul{ list-style: none;}
img{ display: block; border: 0;}
a{ text-decoration: none;}
address, em, i{ font-style: normal;}
button, fieldset, select, input{ border: 0;}
legend, caption, hr{ display: none;}
table{ border-collapse: collapse; border-spacing: 0;}
/*
h1,h2,h3,h4,h5,h6,strong,b{font-weight: normal;}
em,i,q{font-style: normal;}
*/
.sr_only{ display: block; width: 0; height: 0; font-size: 0; line-height: 0; visibility: hidden; overflow: hidden; position: absolute; left: 0; top: 0;}