.barfystars-particle {
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  pointer-events: none;
  top: 50%;
  width: 1px;
  z-index: 3;
}


  #ch1 .barfystars-particle::after {
    content:"";
    width:40px;
    height:40px;
    background-image:url("../img/icon/pop_kirby.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
  }


